In [2]:
# imports
import pandas as pd
import numpy as np
import os # use this to access your environment variables
import requests # this will be used to call the APIs
from unidecode import unidecode # change foreign accented letters etc

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice. 
My notes on API:
- params / general documentation https://docs.foursquare.com/developer/reference/place-search
- categories https://docs.foursquare.com/data-products/docs/categories

In [345]:
FOURSQUARE_KEY = os.getenv('FOURSQUARE_API_KEY')
YELP_KEY = os.getenv('YELP_API_KEY')
print(FOURSQUARE_KEY)
print(YELP_KEY)
# confirm both API keys have been imported successfully from Terminal

fsq3F074rL3S6i0kGeOeRWB1KhL1WLyqB4dyTOG72DKFm4A=
Crgar6c-4CFZps62GfA4OGaN1ClkE5OfzQoHOVBrC3njmSxaimHL02E2srHd7-WnFVSrXuD4xQpXuzn6KwIS9MwTqT67Xxwm4ddGwHES6kS7aTEWrutBhqA4KHSuZnYx

In [347]:
def get_venues_fs(latitude, longitude, radius, api_key, categories, limit):
    """
    Get amenities and POIs from Foursquare API call
    Args:
        latitude (float): latitude for query (must be combined with longitude)
        longitude (float): longitude for query (must be combined with latitude)
        api_key (str): foursquare API to use for query (imported in line above)
        categories (str) : Foursquare-recognized place type. If not passed no place_type will be specified. Separate ids with commas
    
    Returns:
        response: response object from the requests library.
    """
    url = "https://api.foursquare.com/v3/places/search"
    
    headers = {
        "Accept": "application/json",
        "Authorization": api_key
    }
    
    params = {
        "ll": f"{latitude},{longitude}",
        "radius": radius,
        "categories": categories,
        "limit": limit
    }
    
    response = requests.get(url, headers=headers, params=params)
    
    if response.status_code == 200: # 200 is success
        return response.json()
    else:
        response.raise_for_status()

**Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)**

In [520]:
# testing
# latitudes to test: original 43.664467, new 43.601162, other 43.657763
# longitudes to test: original -79.414783, new -79.504160, other -79.389165

# testing from sample in joining_data 43.675556,-79.410278 and 43.640075,-79.414156 and 43.670069,-79.297133 and 43.63951,-79.383717 and 43.697139,-79.31469

categories = '10035,13003,13065,16000' # See following cell bullet points for category names - bars, restaurants, live shows, outdoors

res = get_venues_fs(latitude=43.697139, longitude=-79.31469, radius=800, api_key=FOURSQUARE_KEY, categories=categories, limit=50)

print(len(res['results']))
print("\n")
print(res['results'][3]) # main body of a specific venue result
print("\n")

print(res['results'][3]['name'])  # this is how you access the name, we could loop through to get names

print(res['results'][3]['location'].get('address', 'Address not available')) # accessing the address for the dataframe

print(res['results'][3]['categories'][0]['name']) # accessing the first general category of the venue, most only have one
print(res['results'][3]['geocodes']['main']['latitude'])
print(res['results'][3]['geocodes']['main']['longitude'])
print("\n")

for venue in res['results']:
    name = venue['name']
    address = venue['location'].get('address', 'Address not available')
    first_category = venue['categories'][0]['name']
    # category_names = [category['name'] for category in venue['categories']] # there are multiple categories for some venues
    fsq_id = venue['fsq_id']
    print(f"{name}, {address}, {first_category}, {fsq_id}")

14


{'fsq_id': '4d91379a5f33b1f71eee697e', 'categories': [{'id': 16003, 'name': 'Beach', 'short_name': 'Beach', 'plural_name': 'Beaches', 'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/beach_', 'suffix': '.png'}}], 'chains': [], 'closed_bucket': 'LikelyOpen', 'distance': 188, 'geocodes': {'drop_off': {'latitude': 43.698391, 'longitude': -79.31631}, 'main': {'latitude': 43.69845, 'longitude': -79.316175}, 'roof': {'latitude': 43.69845, 'longitude': -79.316175}}, 'link': '/v3/places/4d91379a5f33b1f71eee697e', 'location': {'address': '373 Cedarvale Ave', 'country': 'CA', 'cross_street': 'Cosburn Rd./E of Woodbine Ave.', 'formatted_address': '373 Cedarvale Ave (Cosburn Rd./E of Woodbine Ave.), Toronto ON M4C 4K7', 'locality': 'Toronto', 'postcode': 'M4C 4K7', 'region': 'ON'}, 'name': 'Kiwanis Outdoor Pool', 'related_places': {}, 'timezone': 'America/Toronto'}


Kiwanis Outdoor Pool
373 Cedarvale Ave
Beach
43.69845
-79.316175


Taylor Creek Park, 200 Dawes Rd, Park, 4c2bca5a6e77b7135b30775d
Stan Wadlow Park, 373 Cedarvale Ave, Park, 4c012a56efa2ef3b516daa8c
East York Baseball's 60Th Anniversary, 373 Cedarvale Ave, Campground, ce00dbfa17f2b49c4eb1accc
Kiwanis Outdoor Pool, 373 Cedarvale Ave, Beach, 4d91379a5f33b1f71eee697e
Everett Park, Address not available, Park, 59d13c4d916bc13f5c93b26a
The Rib House, 1239A Woodbine Ave, Diner, 4dbb444593a08f9274a06cda
Hakka Fire, 1235 Woodbine Ave, Hakka Restaurant, 5d34d6dfe57689000792bf15
Oak Park Deli, 213 Oak Park Ave, Restaurant, 4dbf46c41e72dd48b1ef56ef
Storloft, 265 Chisholm Ave, Storage Facility, 74d14a12fd464cf663f6522f
Marmalade's Turf, Address not available, Garden, 4e10bb2018a84f0f030d30d3
Stan Wadlow Park, Virginia Ave, Park, 92b38818d9ce4dbaf7c4439a
East York Community Garden, Address not available, Landmarks and Outdoors, b5f672817e434c6066cf5b49
Hakka Fire, 1235 Woodbine Ave, Restaurant, c30ba3e034e9467023482741
241 Pizza, 675 Main N, Pizzeria, bd188bf2dcca478bbf505143

**Notes on the test API Call and justification of parameters:**
- Downtown Toronto is very densely packed with bike stations and the amenities I will be searching for. The default radius is 5km which is too large to capture the relationship between bike/dock availability and amenities. The appropriate range would be either **1km or even 800m - I settled on 800m**
- Foursquare Category IDs of interest are: 10035 (Performing Arts Venue), 13003 (Bars), 13065 (Restaurants), 16000 (landmarks & outdoors)
- Other candidates for later exploration: 17057 (Food & Beverage Retail), 18000 (Sports & Recreaction)

**Notes on the information to return in dataframe**
- Name of Venue
- Address
- Venue Categories - I am spot checking a few different bike stations because I want to capture different terms in more general categories e.g. **bars**, **restaurants**
- The latitude and longitude used to call the results belongs to the bike dock

The unified dataframe is about the bike docks/stations and this data will return number of bars, number of restaurants, performing arts venues, outdoor venues

**Put your parsed results into a DataFrame**

In [367]:
search_categories = '10035,13003,13065,16000' # See following cell bullet points for category names - bars, restaurants, live shows, outdoor parks

res = get_venues_fs(latitude=43.664467, longitude=-79.414783, radius=800, api_key=FOURSQUARE_KEY, categories=search_categories, limit=50)

name_list = []
address_list = []
category_list = []
ll_list = []

for venue in res['results']:
    name_list.append(venue['name']) 
    address_list.append(venue['location'].get('address', 'Address not available')) 
    category_list.append(venue['categories'][0]['name']) 
    ll_list.append(f"{venue['geocodes']['main']['latitude']},{venue['geocodes']['main']['longitude']}")

test_venue_dictionary = {
    'name': name_list,
    'address': address_list,
    'category': category_list,
    'll': ll_list
}

test_venue_df = pd.DataFrame(test_venue_dictionary)
test_venue_df
csv_file_path = '../data/test_venue_df.csv' # the file path to put new saves into the data directory
test_venue_df.to_csv(csv_file_path, index=False)

I have saved a sample request in csv format for easy access without having to make another API call.
How I want to manipulate the data:
- This table represents the results of one such bike station so we will have 820 of these calls.
- For each one I'd like to record the number of cafes, number of bar/restaurants/pub, number of park/playground and number of live venues
- This is ultimately one data point for each search category for each of these returned dataframes e.g. this one above
- For this I'm going to need to catch some general terms e.g. Pub/bar/restaurant (whether Irish pub, greek restaurant, BBQ Joint) via Regex

In [369]:
data_test = pd.read_csv('../data/test_venue_df.csv')
data_test.head(10)

,name,address,category,ll
0,Ninetails Coffee Bar,651 Bloor St W,Coffee Shop,"43.664049,-79.415262"
1,Snakes & Lattes,600 Bloor St W,Café,"43.664876,-79.413149"
2,Rustle & Still Café,605 Bloor St W,Café,"43.664557,-79.412911"
3,Korean Village Restaurant,628 Bloor St W,BBQ Joint,"43.664553,-79.414501"
4,Buk Chang Dong Soon Tofu,691 Bloor St W,Korean Restaurant,"43.663758,-79.416945"
5,Insomnia Restaurant and Lounge,563 Bloor St W,Restaurant,"43.665097,-79.410893"
6,Basecamp Climbing,677 Bloor St W,Rock Climbing Spot,"43.663785,-79.416575"
7,Christie Pits Park,750 Bloor St W,Park,"43.664775,-79.420709"
8,Sam James Coffee Bar,297 Harbord St,Café,"43.660163,-79.415435"
9,Banjara Indian Cuisine,796 Bloor St W,Indian Restaurant,"43.663179,-79.42181"

In [371]:
# need to clean up the category to lowercase and remove accents
data_test['category'] = data_test['category'].str.lower().apply(unidecode)
data_test.head(10)

,name,address,category,ll
0,Ninetails Coffee Bar,651 Bloor St W,coffee shop,"43.664049,-79.415262"
1,Snakes & Lattes,600 Bloor St W,cafe,"43.664876,-79.413149"
2,Rustle & Still Café,605 Bloor St W,cafe,"43.664557,-79.412911"
3,Korean Village Restaurant,628 Bloor St W,bbq joint,"43.664553,-79.414501"
4,Buk Chang Dong Soon Tofu,691 Bloor St W,korean restaurant,"43.663758,-79.416945"
5,Insomnia Restaurant and Lounge,563 Bloor St W,restaurant,"43.665097,-79.410893"
6,Basecamp Climbing,677 Bloor St W,rock climbing spot,"43.663785,-79.416575"
7,Christie Pits Park,750 Bloor St W,park,"43.664775,-79.420709"
8,Sam James Coffee Bar,297 Harbord St,cafe,"43.660163,-79.415435"
9,Banjara Indian Cuisine,796 Bloor St W,indian restaurant,"43.663179,-79.42181"

In [373]:
# Define regex patterns - to search within the category column. These are loose 'contain' matches
bar_restaurant_pattern = r'\b(bar|restaurant|lounge|bbq|pub|grill|burger|chicken|diner|pizzeria|tavern|night club|nightclub)\b'
cafe_pattern = r'\b(cafe|coffee|coffee shop|tea|bakery|donut|deli)\b'
park_pattern = r'\b(park|playground|monument|plaza)\b'
live_venue_pattern = r'\b(concert|music venue|music|comedy|live|theater)\b'

In [445]:
# Apply regex patterns to create new columns
data_test['bar/restaurant'] = data_test['category'].str.contains(bar_restaurant_pattern, case=False, regex=True).astype(int)
data_test['cafe'] = data_test['category'].str.contains(cafe_pattern, case=False, regex=True).astype(int)
data_test['park'] = data_test['category'].str.contains(park_pattern, case=False, regex=True).astype(int)
data_test['live_venue'] = data_test['category'].str.contains(live_venue_pattern, case=False, regex=True).astype(int)
data_test

/var/folders/jj/bww8jnqd2lg73nm4k1z5kbmc0000gn/T/ipykernel_85675/1693320720.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  data_test['bar/restaurant'] = data_test['category'].str.contains(bar_restaurant_pattern, case=False, regex=True).astype(int)
/var/folders/jj/bww8jnqd2lg73nm4k1z5kbmc0000gn/T/ipykernel_85675/1693320720.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  data_test['cafe'] = data_test['category'].str.contains(cafe_pattern, case=False, regex=True).astype(int)
/var/folders/jj/bww8jnqd2lg73nm4k1z5kbmc0000gn/T/ipykernel_85675/1693320720.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  data_test['park'] = data_test['category'].str.contains(park_pattern, case=False, regex=True).astype(int)
/var/folders/jj/bww8jnqd2lg73nm4k1z5kbmc0000gn/T/ipykernel_85675/1693320720.py:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  data_test['live_venue'] = data_test['category'].str.contains(live_venue_pattern, case=False, regex=True).astype(int)

,name,address,category,ll,bar/restaurant,cafe,park,live_venue
0,Ninetails Coffee Bar,651 Bloor St W,coffee shop,"43.664049,-79.415262",0,1,0,0
1,Snakes & Lattes,600 Bloor St W,cafe,"43.664876,-79.413149",0,1,0,0
2,Rustle & Still Café,605 Bloor St W,cafe,"43.664557,-79.412911",0,1,0,0
3,Korean Village Restaurant,628 Bloor St W,bbq joint,"43.664553,-79.414501",1,0,0,0
4,Buk Chang Dong Soon Tofu,691 Bloor St W,korean restaurant,"43.663758,-79.416945",1,0,0,0
5,Insomnia Restaurant and Lounge,563 Bloor St W,restaurant,"43.665097,-79.410893",1,0,0,0
6,Basecamp Climbing,677 Bloor St W,rock climbing spot,"43.663785,-79.416575",0,0,0,0
7,Christie Pits Park,750 Bloor St W,park,"43.664775,-79.420709",0,0,1,0
8,Sam James Coffee Bar,297 Harbord St,cafe,"43.660163,-79.415435",0,1,0,0
9,Banjara Indian Cuisine,796 Bloor St W,indian restaurant,"43.663179,-79.42181",1,0,0,0
10,Kinka Izakaya Bloor,559 Bloor St W,japanese restaurant,"43.665051,-79.410745",1,0,0,0
11,Crafty Coyote,511 Bloor St W,beer bar,"43.665421,-79.408747",1,0,0,0
12,Paradise Grapevine,841 Bloor St W,wine bar,"43.662222,-79.423387",1,0,0,0
13,El Pocho Antojitos Bar,2 Follis Ave,bar,"43.669631,-79.413395",1,0,0,0
14,Cobs Bread,370 Bloor St W,bakery,"43.66642,-79.40582",0,1,0,0
15,Victory Cafe,440 Bloor St W,beer bar,"43.665833,-79.408485",1,0,0,0
16,Pizza Gigi,189 Harbord St,pizzeria,"43.661693,-79.408292",1,0,0,0
17,New Generation Sushi,486 Bloor St W,sushi restaurant,"43.665589,-79.409522",1,0,0,0
18,Sushi on Bloor,515 Bloor St W,sushi restaurant,"43.66546,-79.408987",1,0,0,0
19,Vermont Square Park,819 Palmerston Ave,playground,"43.670004,-79.41598",0,0,1,0
20,Famoso Italian Pizzeria - Annex,386 Bloor St W,pizzeria,"43.666176,-79.406857",1,0,0,0
21,Arisu,584 Bloor St W,bbq joint,"43.664969,-79.41265",1,0,0,0
22,Baskin-Robbins,726 Bloor St W,ice cream parlor,"43.663723,-79.418202",0,0,0,0
23,St. Louis Bar and Grill,376 Bloor St W,bbq joint,"43.666276,-79.406265",1,0,0,0
24,Pour Boy Pub,666 Manning Ave,pub,"43.664367,-79.416294",1,0,0,0
25,Future Bistro,483 Bloor St W,bakery,"43.665783,-79.407636",0,1,0,0
26,Coda,794 Bathurst St,night club,"43.66533,-79.411538",1,0,0,0
27,Paupers Pub,539 Bloor St W,pub,"43.665157,-79.410061",1,0,0,0
28,Mary Brown's Chicken,636 Bloor St W,fried chicken joint,"43.66470609200628,-79.41454644189024",1,0,0,0
29,MaMa Chef Korean Restaurant,648 Bloor St W,korean restaurant,"43.664434,-79.41537",1,0,0,0
30,Jin Dal Lae,647 Bloor St W,korean restaurant,"43.664115,-79.415132",1,0,0,0
31,Ka-Chi,2322 Bloor St W,korean restaurant,"43.664712,-79.413871",1,0,0,0
32,Greek in the Village,664 Bloor St W,greek restaurant,"43.664204,-79.416222",1,0,0,0
33,JJIN Toast,792 Bathurst St,korean restaurant,"43.665219,-79.411521",1,0,0,0
34,Ed and Anne Mirvish Parkette,843 Bathurst,park,"43.666578,-79.411364",0,0,1,0
35,Tim Hortons,726 Bloor St W,"cafe, coffee, and tea house","43.663827,-79.418312",0,1,0,0
36,Kinton Ramen,668 Bloor St W,ramen restaurant,"43.664145,-79.416259",1,0,0,0
37,Bickford Park,Address not available,park,"43.660366,-79.418039",0,0,1,0
38,Healey Willan Park,504 Euclid Ave,park,"43.659482,-79.413222",0,0,1,0
39,St. Alban's Square,90 Howland Ave,park,"43.668709,-79.410628",0,0,1,0
40,Joseph Burr Tyrell Park,357 Brunswick Ave,playground,"43.66677,-79.407185",0,0,1,0
41,Art Eggleton Park,323 Harbord St,park,"43.658935,-79.418418",0,0,1,0
42,"The Londoners Pub: boire, manger, danser, boug...",500 Bloor St W,restaurant,"43.665484,-79.410207",1,0,0,0
43,The Saturday Songwriters Circus,292 Brunswick Ave,concert hall,"43.665117,-79.407529",0,0,0,1

In [377]:
data_test['bar/restaurant'].sum()
data_test['park'].sum()

8

In [379]:
csv_file_path = '../data/test_venue_df_cleaned.csv' # the file path to put this cleaned table as a sample into the repository
data_test.to_csv(csv_file_path, index=False)

Data Audit:

- We did check for addresses being not available earlier when parsing the JSON
- We will check for Nulls / Na in the categories and duplicates of address here

In [36]:
data_test = pd.read_csv("../data/test_venue_dfs/test_venue_df.csv")

In [38]:
print(data_test['address'].is_unique) # there are duplicates of the address
data_test['address'].value_counts() > 1

False

address
726 Bloor St W            True
651 Bloor St W           False
664 Bloor St W           False
666 Manning Ave          False
483 Bloor St W           False
794 Bathurst St          False
539 Bloor St W           False
636 Bloor St W           False
648 Bloor St W           False
647 Bloor St W           False
2322 Bloor St W          False
792 Bathurst St          False
843 Bathurst             False
668 Bloor St W           False
Address not available    False
504 Euclid Ave           False
90 Howland Ave           False
357 Brunswick Ave        False
323 Harbord St           False
500 Bloor St W           False
376 Bloor St W           False
584 Bloor St W           False
600 Bloor St W           False
559 Bloor St W           False
605 Bloor St W           False
628 Bloor St W           False
691 Bloor St W           False
563 Bloor St W           False
677 Bloor St W           False
750 Bloor St W           False
297 Harbord St           False
796 Bloor St W           False
511 Bloor St W           False
386 Bloor St W           False
841 Bloor St W           False
2 Follis Ave             False
370 Bloor St W           False
440 Bloor St W           False
189 Harbord St           False
486 Bloor St W           False
515 Bloor St W           False
819 Palmerston Ave       False
292 Brunswick Ave        False
Name: count, dtype: bool

In [42]:
data_test[data_test['address'] == '726 Bloor St W']
# there are two establishments sharing the same address - is this really impacting data quality? 
# It's an ice cream shop and a coffee shop potentially next to each other or one has previously closed...

,name,address,category,ll
22,Baskin-Robbins,726 Bloor St W,Ice Cream Parlor,"43.663723,-79.418202"
35,Tim Hortons,726 Bloor St W,"Cafe, Coffee, and Tea House","43.663827,-79.418312"

In [50]:
data_test[data_test['category'].isna()]
# no n/a categories

Empty DataFrame
Columns: [name, address, category, ll]
Index: []

# Yelp

**Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.**

My notes on Yelp Fusion API (https://docs.developer.yelp.com/docs/fusion-intro):
- They have a number of different types of search including search for events, search by business ID, others... see https://docs.developer.yelp.com/docs/resources-categories
- To compare closest with Foursquare we will use the standard businesses search https://docs.developer.yelp.com/reference/v3_business_search
- The starter API package offers review count and average review star rating
- First 300 calls are free and it's 7.99 for 1000 API calls
- We would need to make at least 820 api calls for each of the bike stations

In [381]:
def get_venues_yelp(latitude, longitude, radius, yelp_key, categories, limit):
    """
    Get amenities and POIs from Yelp API call
    Args:
        latitude (float): latitude for query (must be combined with longitude)
        longitude (float): longitude for query (must be combined with latitude)
        yelp_key (str): yelp API to use for query (see imports in first cell)
        categories (str) : Place type, with Yelp API they are descriptive eg. "bar,restaurant" unlike Foursquare's 5-digit codes. Separate ids with commas
    Returns:
        response: response object from the requests library.
    """
    url = "https://api.yelp.com/v3/businesses/search"
    
    headers = {
        "Accept": "application/json",
        "Authorization": "Bearer " + yelp_key # strange api key syntax "Bearer "
    }
    
    params = {
        "latitude": latitude,
        "longitude": longitude,
        "radius": radius,
        "categories": categories,
        "limit": limit
    }
    
    response = requests.get(url, headers=headers, params=params)
    
    if response.status_code == 200: # 200 is success
        return response.json()
    else:
        print(response)
        response.raise_for_status()

In [383]:
# testing

yelp_categories = 'cafes,bars,restaurants,parks,musicvenues' # bars, restaurants, live shows, outdoors

yelp_res = get_venues_yelp(latitude=43.664467, longitude=-79.414783, radius=800, yelp_key=YELP_KEY, categories=yelp_categories, limit=50)

test_response = yelp_res

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

**Note**: the print statements below are exploring the data that I want to extract from the JSON response

In [387]:
# exploring the yelp API response

test_response['businesses'][0]
print("\n")

print(test_response['businesses'][1]['name'])
print(test_response['businesses'][1]['categories'][0]['alias'])
print(test_response['businesses'][1]['rating'])
print(test_response['businesses'][1]['location']['address1'])
print(int(test_response['businesses'][1]['distance'])) # rounding distance in meters to a whole meter
print(f"{test_response['businesses'][1]['coordinates']['latitude']},{test_response['businesses'][1]['coordinates']['longitude']}")

Korean Village Restaurant
korean
4.0
628 Bloor Street W
30
43.66461,-79.41444

In [389]:
name_list = []
address_list = []
rating_list = []
category_list = []
ll_list = []

for venue in test_response['businesses']:
    name_list.append(venue['name'])
    address_list.append(venue['location'].get('address1', 'Address not available'))
    rating_list.append(venue['rating'])
    category_list.append(venue['categories'][0]['alias'])
    ll_list.append(f"{venue['coordinates']['latitude']},{test_response['businesses'][1]['coordinates']['longitude']}")
    
test_yelp_venue_dictionary = {
    'name': name_list,
    'address': address_list,
    'rating': rating_list,
    'category': category_list,
    'll': ll_list
}

test_yelp_venue_df = pd.DataFrame(test_yelp_venue_dictionary)

Put your parsed results into a DataFrame

In [395]:
test_yelp_venue_df

,name,address,rating,category,ll
0,Daldongnae Korean BBQ - Christie,658 Bloor Street,4.4,korean,"43.664348,-79.41444"
1,Korean Village Restaurant,628 Bloor Street W,4.0,korean,"43.66461,-79.41444"
2,Yummy Korean Food Restaurant,710 Bloor Street W,4.0,korean,"43.66393459743065,-79.41444"
3,Paldo Gangsan,694 Bloor Street W,4.3,korean,"43.664,-79.41444"
4,Buk Chang Dong Soon Tofu,691 Bloor Street W,4.1,korean,"43.66363,-79.41444"
5,MaMa Chef Korean Restaurant,648 Bloor Street W,3.9,korean,"43.6643515,-79.41444"
6,Arisu Korean BBQ & Sushi,584 Bloor Street W,3.4,japanese,"43.6651,-79.41444"
7,Her Chef,599 Bloor Street W,4.6,asianfusion,"43.66457,-79.41444"
8,Hodo Kwaja,656 Bloor Street W,4.4,bakeries,"43.66438,-79.41444"
9,Hancook Cheese Dakgalbi,605 Bloor Street W,3.9,korean,"43.66457,-79.41444"
10,Insomnia Restaurant & Lounge,563 Bloor Street W,4.1,lounges,"43.665961,-79.41444"
11,KINKA IZAKAYA ANNEX,559 Bloor Street W,4.1,japanese,"43.6650736,-79.41444"
12,Snakes & Lattes Annex,600 Bloor Street W,3.9,bars,"43.665,-79.41444"
13,KINTORI YAKITORI IZAKAYA,668 Bloor Street W,3.4,japanese,"43.664192,-79.41444"
14,Sunrise House,661 Bloor Street W,3.7,korean,"43.66401,-79.41444"
15,KINTON RAMEN KOREATOWN,668 Bloor Street W,3.5,ramen,"43.6642003,-79.41444"
16,Rustle & Still Café,605 Bloor Street W,4.5,coffee,"43.66457,-79.41444"
17,Tacos El Asador,689 Bloor Street W,3.8,mexican,"43.6636499,-79.41444"
18,Ninetails Coffee Bar,651 Bloor Street W,4.6,coffee,"43.66408,-79.41444"
19,Poop Cafe,680 Bloor Street W,2.9,desserts,"43.66411,-79.41444"
20,Korea House,666 Bloor Street W,3.4,korean,"43.66421,-79.41444"
21,Mr.Tonkatsu,520 Bloor Street W,4.1,japanese,"43.66541,-79.41444"
22,Jin Dal Lae,647 Bloor Street W,4.4,korean,"43.664166,-79.41444"
23,Mallo Coffee & Bar,785 Bathurst Street,4.8,coffee,"43.6646307,-79.41444"
24,Snowday BingSu Cafe,681 Bloor Street W,4.8,coffee,"43.663792893312355,-79.41444"
25,Pour Boy,666 Manning Avenue,3.5,pubs,"43.66432900742486,-79.41444"
26,Doo Roo Ae,659 Bloor Street West,3.8,korean,"43.6639519,-79.41444"
27,Nuttea,637 Bloor Street W,4.8,bubbletea,"43.664268,-79.41444"
28,Napoli Centrale,964 Bathurst Street,4.5,italian,"43.6695182,-79.41444"
29,Imonay House Restaurant,665 Bloor Street W,4.1,korean,"43.6641195,-79.41444"
30,Chung Chun Rice Dog,615 Bloor Street W,4.4,hotdog,"43.66443,-79.41444"
31,Northwood,815 W Bloor Street,4.1,cafes,"43.66248,-79.41444"
32,K Seoul Hotdog,712 Bloor Street W,4.2,hotdog,"43.66392,-79.41444"
33,Damda Restaurant,659 Bloor Street W,4.7,korean,"43.663966,-79.41444"
34,Ave Maria Latin Café,631 Bloor Street W,4.2,coffee,"43.6643105,-79.41444"
35,Owl of Minerva,700 Bloor St W,3.3,korean,"43.66398,-79.41444"
36,Mapo Korean BBQ,708 Bloor Street W,4.0,bbq,"43.6639096,-79.41444"
37,Jjin Toast,792 Bathurst Street,4.9,korean,"43.665326757342655,-79.41444"
38,Selam Restaurant & Lounge,812 Bloor Street W,4.2,ethiopian,"43.66275797110659,-79.41444"
39,Madras Masala,796 Bloor Street W,4.0,indpak,"43.663054436101525,-79.41444"
40,Paupers Pub,539 Bloor Street W,2.9,pubs,"43.66515,-79.41444"
41,The K BBQ,699 Bloor Street W,3.5,korean,"43.66353,-79.41444"
42,El Pocho Antojitos Bar,2 Follis Avenue,4.3,bars,"43.66963,-79.41444"
43,El Furniture Warehouse - Bloor St,410 Bloor St West,3.3,tradamerican,"43.6659060524241,-79.41444"
44,Thay Bar Thai Food,690 Euclid Avenue,4.7,thai,"43.66469996807216,-79.41444"
45,Kevin's Taiyaki,675 Bloor Street W,4.5,gourmet,"43.66381452793633,-79.41444"
46,Tallboys,838 Bloor Street W,4.0,pubs,"43.66256,-79.41444"
47,Fuwa Fuwa Japanese Pancakes,408 Bloor Street W,3.9,desserts,"43.6659512785201,-79.41444"
48,Kimchi House,586 Bloor St W,4.0,korean,"43.66495,-79.41444"
49,Japas,692 Bloor Street W,3.2,bars,"43.6639022827148,-79.41444"

In [397]:
csv_file_path = '../data/test_yelp_venue_df.csv' # the file path to put this table as a sample into the repository
test_yelp_venue_df.to_csv(csv_file_path, index=False)

In [399]:
# Define regex patterns - to search within the Yelp category column. These are loose 'contain' matches but bar restaurants has a lot of terms
yelp_bar_restaurant_pattern = r'\b(bars|restaurants|lounges|bbq|pubs|diner|pizzeria|tavern|night club|nightclub|gourmet|korean|japanese|vietnamese|mexican|italian|indpak|american|hotdog|tradamerican|ethiopian|asianfusion|thai|ramen|french)\b'
yelp_cafe_pattern = r'\b(cafes|coffee|coffee shop|tea|bakeries|donut|deli|bubbletea|desserts)\b'
yelp_park_pattern = r'\b(park|playground|monument|plaza)\b'
yelp_live_venue_pattern = r'\b(concert|music venue|music|comedy|live|theater)\b'

In [401]:
test_yelp_venue_df['bar/restaurant'] = test_yelp_venue_df['category'].str.contains(yelp_bar_restaurant_pattern, case=False, regex=True).astype(int)
test_yelp_venue_df['cafe'] = test_yelp_venue_df['category'].str.contains(yelp_cafe_pattern, case=False, regex=True).astype(int)
test_yelp_venue_df['park'] = test_yelp_venue_df['category'].str.contains(yelp_park_pattern, case=False, regex=True).astype(int)
test_yelp_venue_df['live_venue'] = test_yelp_venue_df['category'].str.contains(yelp_live_venue_pattern, case=False, regex=True).astype(int)
test_yelp_venue_df

/var/folders/jj/bww8jnqd2lg73nm4k1z5kbmc0000gn/T/ipykernel_85675/3615301075.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  test_yelp_venue_df['bar/restaurant'] = test_yelp_venue_df['category'].str.contains(yelp_bar_restaurant_pattern, case=False, regex=True).astype(int)
/var/folders/jj/bww8jnqd2lg73nm4k1z5kbmc0000gn/T/ipykernel_85675/3615301075.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  test_yelp_venue_df['cafe'] = test_yelp_venue_df['category'].str.contains(yelp_cafe_pattern, case=False, regex=True).astype(int)
/var/folders/jj/bww8jnqd2lg73nm4k1z5kbmc0000gn/T/ipykernel_85675/3615301075.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  test_yelp_venue_df['park'] = test_yelp_venue_df['category'].str.contains(yelp_park_pattern, case=False, regex=True).astype(int)
/var/folders/jj/bww8jnqd2lg73nm4k1z5kbmc0000gn/T/ipykernel_85675/3615301075.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  test_yelp_venue_df['live_venue'] = test_yelp_venue_df['category'].str.contains(yelp_live_venue_pattern, case=False, regex=True).astype(int)

,name,address,rating,category,ll,bar/restaurant,cafe,park,live_venue
0,Daldongnae Korean BBQ - Christie,658 Bloor Street,4.4,korean,"43.664348,-79.41444",1,0,0,0
1,Korean Village Restaurant,628 Bloor Street W,4.0,korean,"43.66461,-79.41444",1,0,0,0
2,Yummy Korean Food Restaurant,710 Bloor Street W,4.0,korean,"43.66393459743065,-79.41444",1,0,0,0
3,Paldo Gangsan,694 Bloor Street W,4.3,korean,"43.664,-79.41444",1,0,0,0
4,Buk Chang Dong Soon Tofu,691 Bloor Street W,4.1,korean,"43.66363,-79.41444",1,0,0,0
5,MaMa Chef Korean Restaurant,648 Bloor Street W,3.9,korean,"43.6643515,-79.41444",1,0,0,0
6,Arisu Korean BBQ & Sushi,584 Bloor Street W,3.4,japanese,"43.6651,-79.41444",1,0,0,0
7,Her Chef,599 Bloor Street W,4.6,asianfusion,"43.66457,-79.41444",1,0,0,0
8,Hodo Kwaja,656 Bloor Street W,4.4,bakeries,"43.66438,-79.41444",0,1,0,0
9,Hancook Cheese Dakgalbi,605 Bloor Street W,3.9,korean,"43.66457,-79.41444",1,0,0,0
10,Insomnia Restaurant & Lounge,563 Bloor Street W,4.1,lounges,"43.665961,-79.41444",1,0,0,0
11,KINKA IZAKAYA ANNEX,559 Bloor Street W,4.1,japanese,"43.6650736,-79.41444",1,0,0,0
12,Snakes & Lattes Annex,600 Bloor Street W,3.9,bars,"43.665,-79.41444",1,0,0,0
13,KINTORI YAKITORI IZAKAYA,668 Bloor Street W,3.4,japanese,"43.664192,-79.41444",1,0,0,0
14,Sunrise House,661 Bloor Street W,3.7,korean,"43.66401,-79.41444",1,0,0,0
15,KINTON RAMEN KOREATOWN,668 Bloor Street W,3.5,ramen,"43.6642003,-79.41444",1,0,0,0
16,Rustle & Still Café,605 Bloor Street W,4.5,coffee,"43.66457,-79.41444",0,1,0,0
17,Tacos El Asador,689 Bloor Street W,3.8,mexican,"43.6636499,-79.41444",1,0,0,0
18,Ninetails Coffee Bar,651 Bloor Street W,4.6,coffee,"43.66408,-79.41444",0,1,0,0
19,Poop Cafe,680 Bloor Street W,2.9,desserts,"43.66411,-79.41444",0,1,0,0
20,Korea House,666 Bloor Street W,3.4,korean,"43.66421,-79.41444",1,0,0,0
21,Mr.Tonkatsu,520 Bloor Street W,4.1,japanese,"43.66541,-79.41444",1,0,0,0
22,Jin Dal Lae,647 Bloor Street W,4.4,korean,"43.664166,-79.41444",1,0,0,0
23,Mallo Coffee & Bar,785 Bathurst Street,4.8,coffee,"43.6646307,-79.41444",0,1,0,0
24,Snowday BingSu Cafe,681 Bloor Street W,4.8,coffee,"43.663792893312355,-79.41444",0,1,0,0
25,Pour Boy,666 Manning Avenue,3.5,pubs,"43.66432900742486,-79.41444",1,0,0,0
26,Doo Roo Ae,659 Bloor Street West,3.8,korean,"43.6639519,-79.41444",1,0,0,0
27,Nuttea,637 Bloor Street W,4.8,bubbletea,"43.664268,-79.41444",0,1,0,0
28,Napoli Centrale,964 Bathurst Street,4.5,italian,"43.6695182,-79.41444",1,0,0,0
29,Imonay House Restaurant,665 Bloor Street W,4.1,korean,"43.6641195,-79.41444",1,0,0,0
30,Chung Chun Rice Dog,615 Bloor Street W,4.4,hotdog,"43.66443,-79.41444",1,0,0,0
31,Northwood,815 W Bloor Street,4.1,cafes,"43.66248,-79.41444",0,1,0,0
32,K Seoul Hotdog,712 Bloor Street W,4.2,hotdog,"43.66392,-79.41444",1,0,0,0
33,Damda Restaurant,659 Bloor Street W,4.7,korean,"43.663966,-79.41444",1,0,0,0
34,Ave Maria Latin Café,631 Bloor Street W,4.2,coffee,"43.6643105,-79.41444",0,1,0,0
35,Owl of Minerva,700 Bloor St W,3.3,korean,"43.66398,-79.41444",1,0,0,0
36,Mapo Korean BBQ,708 Bloor Street W,4.0,bbq,"43.6639096,-79.41444",1,0,0,0
37,Jjin Toast,792 Bathurst Street,4.9,korean,"43.665326757342655,-79.41444",1,0,0,0
38,Selam Restaurant & Lounge,812 Bloor Street W,4.2,ethiopian,"43.66275797110659,-79.41444",1,0,0,0
39,Madras Masala,796 Bloor Street W,4.0,indpak,"43.663054436101525,-79.41444",1,0,0,0
40,Paupers Pub,539 Bloor Street W,2.9,pubs,"43.66515,-79.41444",1,0,0,0
41,The K BBQ,699 Bloor Street W,3.5,korean,"43.66353,-79.41444",1,0,0,0
42,El Pocho Antojitos Bar,2 Follis Avenue,4.3,bars,"43.66963,-79.41444",1,0,0,0
43,El Furniture Warehouse - Bloor St,410 Bloor St West,3.3,tradamerican,"43.6659060524241,-79.41444",1,0,0,0
44,Thay Bar Thai Food,690 Euclid Avenue,4.7,thai,"43.66469996807216,-79.41444",1,0,0,0
45,Kevin's Taiyaki,675 Bloor Street W,4.5,gourmet,"43.66381452793633,-79.41444",1,0,0,0
46,Tallboys,838 Bloor Street W,4.0,pubs,"43.66256,-79.41444",1,0,0,0
47,Fuwa Fuwa Japanese Pancakes,408 Bloor Street W,3.9,desserts,"43.6659512785201,-79.41444",0,1,0,0
48,Kimchi House,586 Bloor St W,4.0,korean,"43.66495,-79.41444",1,0,0,0
49,Japas,692 Bloor Street W,3.2,bars,"43.6639022827148,-79.41444",1,0,0,0

In [403]:
test_yelp_venue_df['bar/restaurant'].sum()

40

In [405]:
csv_file_path = '../data/test_yelp_venue_df_cleaned.csv' # the file path to put this cleaned table as a sample into the repository
test_yelp_venue_df.to_csv(csv_file_path, index=False)

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

**Answer:** Yelp API is detailed about specific establishments, there are more granular items available from the API call such as:
- The average reviews of the establishment (might be useful)
- Distance between the establishment and the search location, in meters (might be useful)
- Price level
- Attributes e.g. their private quote capability, disability/wheelchair accessibility, can you reserve via Yelp

Aside from average review score and distance, not many features seem useful for this project, many advanced features are also available on premium tier pricing
- Ambience of the establishment
- Pet friendly establishments
- "Liked by" e.g. specific demographics and whether they liked the establishment

In terms of the results themselves, it is not an exact match. There appear to be a lot more Asian restaurants picked up in Yelp and the park (Christie Pits park) was not picked up by Yelp but it was in Foursquare. This will present problems with matching venues in both dataframes and for diversity of POI I am going to do the rest of my analysis with Foursquare venue data.

**I also noticed that searching for non bar/restaurant establishments was more difficult in Yelp. It appears to heavily favour restaurants as parks, live music venues and monuments did not appear like they did in the Foursquare call for the same lat/long coordinates. I am going to lead with Foursquare as the different POI categories might give the model more 'meat' as the POI categories are more diverse.**
- I may be able to bring in distance from the search point location (from Yelp data) to the joined table, and use average distance for that establishment if the same place wasn't also in the Foursquare table.

Get the top 10 restaurants according to their rating

In [424]:
test_yelp_venue_df.sort_values(by='rating',ascending=False).head(10)

,name,address,rating,category,ll,bar/restaurant,cafe,park,live_venue
37,Jjin Toast,792 Bathurst Street,4.9,korean,"43.665326757342655,-79.41444",1,0,0,0
27,Nuttea,637 Bloor Street W,4.8,bubbletea,"43.664268,-79.41444",0,1,0,0
24,Snowday BingSu Cafe,681 Bloor Street W,4.8,coffee,"43.663792893312355,-79.41444",0,1,0,0
23,Mallo Coffee & Bar,785 Bathurst Street,4.8,coffee,"43.6646307,-79.41444",0,1,0,0
44,Thay Bar Thai Food,690 Euclid Avenue,4.7,thai,"43.66469996807216,-79.41444",1,0,0,0
33,Damda Restaurant,659 Bloor Street W,4.7,korean,"43.663966,-79.41444",1,0,0,0
7,Her Chef,599 Bloor Street W,4.6,asianfusion,"43.66457,-79.41444",1,0,0,0
18,Ninetails Coffee Bar,651 Bloor Street W,4.6,coffee,"43.66408,-79.41444",0,1,0,0
16,Rustle & Still Café,605 Bloor Street W,4.5,coffee,"43.66457,-79.41444",0,1,0,0
28,Napoli Centrale,964 Bathurst Street,4.5,italian,"43.6695182,-79.41444",1,0,0,0